<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!--<link rel="stylesheet" href="/css/main.css">-->
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">
  
  </head>


  <body>
    <nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/About">About</a></li>
	        		<li><a href="/CV">CV</a></li>
	        		<!--<li><a href="/teaching">Teaching</a></li>-->
				<li><a href="/research">Research</a></li>
				<li><a href="/misc">Misc</a></li>
				<li><a href="/memo">Memo</a></li>
				<li><a href="/blog">Blog</a></li>
				
	    		</ul>
			</nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
	   
	        		<li><a href="https://github.com/meredithhu"><img border="0" alt="github" src="/GitHub-Mark-32px.png" width="50" height="50"></a></li>
				<li><a href="mailto:shenglihu1224@gmail.com?subject=Greetings_from_Github_Site&body=Hi Shengli,%0D"><img border="0" alt="email" src="/icons8-email-50.png" width="50" height="50"></a>
				<li><a href="https://www.instagram.com/dottie_ragamuffin/"><img border="0" alt="instagram" src="/_layouts/instagram.png" width="50" height="50"></a></li>
	   <li><a href="https://scholar.google.com/citations?user=nmHi5_sAAAAJ&hl=en"><img border="0" alt="scholar" src="/_layouts/google-scholar-logo.png" width="50" height="50"></a></li>
	  </ul>
			</footer>
			<!-- Start of StatCounter Code for Default Guide -->
			<a title="web analytics" href="http://statcounter.com/"
			   target="_blank"><img src="//c.statcounter.com/11196925/0/6d1aa628/1/" alt="webanalytics" style="border:none;"></a>
			<!-- End of StatCounter Code for Default Guide -->
  </body>

</html>
